.a-i-player
    position absolute
    top 0
    left 0
    width 30px
    height 30px
    background-color none
    z-index 10
    transform translateX(0) translateY(0)
    transition all 0.1s ease-in
    background-image url('/bomberman-v2/assets/img/tupac_sheet.svg')
    background-repeat no-repeat
    background-position 0px 0px
    background-size 120px 30px