body
    margin-left 0
    margin-right 0
    //width 100%
    height 100vh
    background-image url('/bomberman-v2/assets/img/background.png')
    background-position left bottom
    background-repeat no-repeat
    //background-size contain
    text-align center
    
.player
    position absolute
    top 0
    left 0
    width 30px
    height 30px
    background-color none
    z-index 10
    transform translateX(0) translateY(0)
    transition all 0.1s ease-in
    background-image url('/bomberman-v2/assets/img/tupac_sheet.svg')
    background-repeat no-repeat
    background-position 0px 0px
    background-size 120px 30px

.animation-left    
    -webkit-animation animation-left
    animation-name animation-left
    background-position -60px
    animation-iteration-count infinite
    
    @-webkit-keyframes animation-left
        0%   
            background-position 0px
        25% 
            background-position -30px
        50%
            background-position -60px
        100%
            background-position -90px

.animation-right  
    -webkit-animation animation-right
    animation-name animation-right
    background-position -30px
    animation-iteration-count infinite
    
    @-webkit-keyframes animation-left
        0%   
            background-position 0px
        25% 
            background-position -30px
        50%
            background-position -60px
        100%
            background-position -90px
            
.animation-up  
    -webkit-animation animation-up
    animation-name animation-up
    background-position -90px
    animation-iteration-count infinite
    
    @-webkit-keyframes animation-up
        0%   
            background-position 0px
        25% 
            background-position -30px
        50%
            background-position -60px
        100%
            background-position -90px

.animation-down
    -webkit-animation animation-down
    animation-name animation-down
    background-position 0px
    animation-iteration-count infinite
    
    @-webkit-keyframes animation-down
        0%   
            background-position 0px
        25% 
            background-position -30px
        50%
            background-position -60px
        100%
            background-position -90px
                
.game-set
    display inline-block
    position relative
    width auto
    height auto
    margin 0 auto
    background #9BAAC3
    font-size 0
    
.brick
    display inline-block
    width 30px
    height 30px
    top 0
    left 0
    background-color #5F7292
    //transform translateX(0) translateY(0)
    //background-image url('/bomberman/assets/img/brick.svg')
    //background-size contain

.empty
    display inline-block
    width 30px
    height 30px
    top 0
    left 0
    background-color #5F7292
    //transform translateX(0) translateY(0)
    //background-image url('/bomberman/assets/img/brick.svg')
    //background-size contain
    
.set-line
    display block
    position relative
    margin 0 auto
    background red
    
.wall
    display inline-block
    width 30px
    height 30px
    top 0
    left 0
    background-color #5F7292
    //transform translateX(0) translateY(0)
    background-image url('/bomberman-v2/assets/img/brick.svg')
    background-size contain
    
.breakable
    //background-color green
    //transform translateX(0) translateY(0)
    background-image url('/bomberman-v2/assets/img/breakable.svg')
    background-size contain
    transition all 0.3s ease-in
    
.bomb
    position absolute
    width 30px
    height 30px
    top 0
    left 0
    background-color #5F7292
    transform translateX(0) translateY(0)
    background-image url('/bomberman-v2/assets/img/bomb_sheet.svg')
    background-size 150px 40px

.animation-bomb1
    background-position 0px

.animation-bomb2
    background-position -30px

.animation-bomb3
    background-position -60px

.animation-bomb4
    background-position -90px

.animation-bomb5
    background-position -120px
    
//.animation-bomb 
//    -webkit-animation animation-bomb
//    animation-name animation-bomb
//    animation-duration 0.5s
//    animation-delay 2.5s
//    transition all 0.5s linear 
//    
//    
//    @-webkit-keyframes animation-bomb
//        0%   
//            background-position 0px
//        1O0% 
//            background-position -30px
        
.score-set
    position absolute
    width 390px
    height 390px
    background-color red
    