.hero
  position relative
  height 100vh
  color #fff
  font-family Lato
  text-align center
  background-image url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-295290.png')
  background-size cover
  animation animatedBackground 20s linear infinite

@keyframes animatedBackground 
	from  
        background-position 0 0 
	to  
        background-position 600px 0 
